.awesome {
  .aw-input {
    .aw-placeholder{
      color: #777777;
    }
  }

  .aw-list {
    position: absolute;
    overflow: auto;
    .aw-item {
      cursor: pointer;
      z-index: 100;
    }
  }
}
