<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="description" content="content">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/src/styles/main.css">
  <!-- endinject -->
</head>
<body ng-controller="MainController as main">
  <div class="container">

    <net-awesome
      ng-model="main.item"
      list="item in main.list"
      placeholder="placeholder"
      childrens="items">

      <net-awesome-item></net-awesome-item>

    </net-awesome>

    <button type="button" class="btn" ng-click="main.test()">TEST</button>
  </div>

  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/src/scripts/app.js"></script>
  <script src="/src/scripts/awesome.js"></script>
  <script src="/src/scripts/awesome.service.js"></script>
  <script src="/src/scripts/dictionary.js"></script>
  <!-- endinject -->
</body>
</html>
