<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="description" content="content">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/src/styles/main.css">
  <!-- endinject -->
</head>
<body ng-controller="MainController as main">
  <div class="container" style="height: 600px">

    <net-awesome
      alias="awesome"
      ng-model="main.item"
      required
      list="item in main.list"
      placeholder="placeholder"
      childrens="items"
      sort-items="main.sortItem(a,b)"
      get-item="main.getItem(name, father)"
      limit="10">

      <net-awesome-item>
        {{item.label}}
      </net-awesome-item>

    </net-awesome>

    <button class="btn btn-default" ng-click="main.clear()"> clear </button>
  </div>

  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/src/scripts/app.js"></script>
  <script src="/src/scripts/awesome.component.js"></script>
  <script src="/src/scripts/awesome.item.js"></script>
  <script src="/src/scripts/awesome.service.js"></script>
  <script src="/src/scripts/dictionary.js"></script>
  <!-- endinject -->
</body>
</html>
